@namespace CatalystUI.Components
@inherits CatalystComponentBase

@switch (Level)
{
    case 1:
        <h1 class="@CombineClasses(GetSubheadingClasses())" @attributes="GetAttributes()">@ChildContent</h1>
        break;
    case 2:
        <h2 class="@CombineClasses(GetSubheadingClasses())" @attributes="GetAttributes()">@ChildContent</h2>
        break;
    case 3:
        <h3 class="@CombineClasses(GetSubheadingClasses())" @attributes="GetAttributes()">@ChildContent</h3>
        break;
    case 4:
        <h4 class="@CombineClasses(GetSubheadingClasses())" @attributes="GetAttributes()">@ChildContent</h4>
        break;
    case 5:
        <h5 class="@CombineClasses(GetSubheadingClasses())" @attributes="GetAttributes()">@ChildContent</h5>
        break;
    case 6:
        <h6 class="@CombineClasses(GetSubheadingClasses())" @attributes="GetAttributes()">@ChildContent</h6>
        break;
}