@namespace ShadBz.BlazorApp.Components.UI

@if (AsChild)
{
    <CascadingValue Value="@GetContainerAttributes()" Name="ContainerAttributes">
        <div class="@InnerCssClass" style="@GetInnerStyles()">
            @ChildContent
        </div>
    </CascadingValue>
}
else
{
    <div @attributes="GetAllAttributes()" class="@CssClass" style="@GetOuterStyles()">
        <div class="@InnerCssClass" style="@GetInnerStyles()">
            @ChildContent
        </div>
    </div>
}