@namespace ShadBz.BlazorApp.Components.UI
@inherits ComponentBase

<div class="@ItemCssClass" @onclick="HandleClick" @onclick:stopPropagation="@(!Disabled)" tabindex="@(Disabled ? -1 : 0)">
    @if (!string.IsNullOrEmpty(Shortcut))
    {
        <span class="rt-ContextMenuItemContent">@ChildContent</span>
        <span class="rt-ContextMenuShortcut">@Shortcut</span>
    }
    else
    {
        @ChildContent
    }
</div>