@namespace ShadBz.BlazorApp.Components.UI
@inherits ShadBz.BlazorApp.Components.UI.Base.GapComponentBase

@if (AsChild)
{
    <CascadingValue Value="@GetGridAttributes()" Name="GridAttributes">
        @ChildContent
    </CascadingValue>
}
else if (As == "span")
{
    <span @attributes="GetAllAttributes()" class="@CssClass" style="@GetInlineStyles()">
        @ChildContent
    </span>
}
else
{
    <div @attributes="GetAllAttributes()" class="@CssClass" style="@GetInlineStyles()">
        @ChildContent
    </div>
}