@namespace Radixor.Components.Overlays
@inherits Radixor.Components.Base.SpacingComponentBase

@if (As == "p")
{
    <p class="@DescriptionCssClass">@ChildContent</p>
}
else if (As == "div")
{
    <div class="@DescriptionCssClass">@ChildContent</div>
}
else
{
    <span class="@DescriptionCssClass">@ChildContent</span>
}