@namespace Radixor.Components.Overlays
@inherits ComponentBase

<div class="@ItemCssClass" @onclick="HandleClick" @onclick:stopPropagation="@(!Disabled)" tabindex="@(Disabled ? -1 : 0)">
    @if (!string.IsNullOrEmpty(Shortcut))
    {
        <span class="rt-DropdownMenuItemContent">@ChildContent</span>
        <span class="rt-DropdownMenuShortcut">@Shortcut</span>
    }
    else
    {
        @ChildContent
    }
</div>