@namespace Radixor.Components.Layout
@inherits Radixor.Components.Base.GapComponentBase

@if (AsChild)
{
    <CascadingValue Value="@GetFlexAttributes()" Name="FlexAttributes">
        @ChildContent
    </CascadingValue>
}
else if (As == "span")
{
    <span @attributes="GetAllAttributes()" class="@CssClass" style="@GetInlineStyles()">
        @ChildContent
    </span>
}
else
{
    <div @attributes="GetAllAttributes()" class="@CssClass" style="@GetInlineStyles()">
        @ChildContent
    </div>
}