@namespace Radixor.Components.Typography

@if (AsChild)
{
    <CascadingValue Value="@GetHeadingAttributes()" Name="HeadingAttributes">
        @ChildContent
    </CascadingValue>
}
else if (As == "h1")
{
    <h1 @attributes="GetAllAttributes()" class="@CssClass" data-accent-color="@Color">
        @ChildContent
    </h1>
}
else if (As == "h2")
{
    <h2 @attributes="GetAllAttributes()" class="@CssClass" data-accent-color="@Color">
        @ChildContent
    </h2>
}
else if (As == "h3")
{
    <h3 @attributes="GetAllAttributes()" class="@CssClass" data-accent-color="@Color">
        @ChildContent
    </h3>
}
else if (As == "h4")
{
    <h4 @attributes="GetAllAttributes()" class="@CssClass" data-accent-color="@Color">
        @ChildContent
    </h4>
}
else if (As == "h5")
{
    <h5 @attributes="GetAllAttributes()" class="@CssClass" data-accent-color="@Color">
        @ChildContent
    </h5>
}
else if (As == "h6")
{
    <h6 @attributes="GetAllAttributes()" class="@CssClass" data-accent-color="@Color">
        @ChildContent
    </h6>
}
else
{
    <h1 @attributes="GetAllAttributes()" class="@CssClass" data-accent-color="@Color">
        @ChildContent
    </h1>
}